modules = ["nodejs-20", "python-3.12"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Django Server"

[[workflows.workflow]]
name = "Run Django Server"
author = 37399490
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install -r requirements.txt"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python manage.py makemigrations payments"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python manage.py makemigrations mainsite"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python manage.py makemigrations api"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python manage.py makemigrations"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python manage.py migrate"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python manage.py runserver 0.0.0.0:5000"
