modules = ["nodejs-20", "python-3.12"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start Server Only"

[[workflows.workflow]]
name = "Run Django Server"
author = 37399490
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install -r requirements.txt"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python manage.py makemigrations payments"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python manage.py makemigrations mainsite"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python manage.py makemigrations api"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python manage.py makemigrations"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python manage.py migrate"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python manage.py runserver 0.0.0.0:5000"

[[workflows.workflow]]
name = "Test All Routes"
author = 37399490
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python manage.py makemigrations payments"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python manage.py makemigrations mainsite"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python manage.py makemigrations api"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python manage.py makemigrations"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python manage.py migrate"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python manage.py runserver 0.0.0.0:5000 &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "sleep 5"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python test_routes.py"

[[workflows.workflow]]
name = "Start Server Only"
author = 37399490
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python manage.py makemigrations payments"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python manage.py makemigrations mainsite"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python manage.py makemigrations api"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python manage.py makemigrations"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python manage.py migrate"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd crispwrite && python manage.py runserver 0.0.0.0:5000"

[[ports]]
localPort = 5000
externalPort = 80
